GENERATE_SOURCEMAP=false

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXTAUTH_SECRET="etl-secret-key-local"
NEXTAUTH_URL="http://localhost:3002"

GITHUB_ID=""
GITHUB_SECRET=""

BREVO_API_KEY=""
BREVO_SENDER_NAME="Engineering Trade Links Co. Ltd"
BREVO_SENDER_EMAIL="timookui@gmail.com"
